{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Face Based Attendance System</title>
    <link href="{% static 'css/main.css' %}" rel="stylesheet"/>
</head>
<body>
    <div id="main">
        <div id="text-msg">
            <div id="text-big">FACE</div>
            <div id="text-small">BASED ATTENDANCE SYSTEM</div>
            <div id="text-small-2">A Web App which identify student face and take attendance</div>
            <a href="window"><div id="btn">TAKE ATTENDANCE</div></a>
        </div>
    </div>
</body>
</html>